@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin : 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff2d9;
  font-family: 'Roboto', sans-serif;
}

.link-route {
  text-decoration: none;
  color: inherit;
}

/* Homepage (main)*/

.home-main {
  background-image: url("./assets/images/hotel-background.jpg");
  background-size: cover;
  background-position: center;
}

.home-main section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.212);

  height: 100vh;
  text-align: center;
  padding: 1rem;

  color: white;
  text-shadow: 2px 2px black;
}

.home-main section button {
  padding: 1rem;
  width: 200px;
  margin-top: 1rem;

  font-size: 1.2rem;
  font-weight: 600;

  color: white;
  background-color: orange;
  border: none;
  border-radius: 5px;
}

.home-main section button:hover {
  cursor: pointer;
  background-color: rgb(250, 175, 35);
}

@media screen and (min-width: 640px) {
  .home-main section {
    padding: 2rem;
    font-size: 1.2rem;
  }

  .home-main section button {
    width: 400px;
  }
}

@media screen and (min-width: 1024px) {
  .home-main section {
    padding: 2rem;
    font-size: 2rem;
  }
  .home-main section p{
    font-size: 1.2rem;
  }

  .home-main section button {
    width: 700px;
  }
}


/* Aboutpage (main)*/

.about-article figure {
  width: 100vw;
  height: 250px;
}

.about-article figure img{
  width: 100%;
  height: 100%;
}

.about-mission {
  padding: 1.5rem;
}

.about-mission header {
  margin-bottom: 1rem;
}

.about-mission p {
  text-align: justify;
}


.about-mission div {
  background-color: rgb(255, 204, 141);
  border-radius: 5px;

  padding: 1rem;
  margin-top: 2rem;
}

.about-mission div button {
  background-color: black;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  margin-top: 1rem;

  padding: 0.5rem;
}

.about-mission div button:hover {
  cursor: pointer;
  background-color: rgb(46, 46, 46);
}


@media screen and (min-width: 640px) {
  .about-article figure {
    width: 100vw;
    height: 450px;
  }

  .about-mission div {
    padding: 2rem;
  }

  .about-mission div button {
    padding: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .about-mission {
    padding: 4rem;
  }

  .about-mission h1 {
    font-size: 2rem;
  }

  .about-mission p {
    font-size: 1.2rem;
  }

  .about-mission div button {
    padding: 1.2rem;
    font-size: 1rem;
  }
}

@media screen and (min-height: 1024px) {
  .about-article {
    height: 100vh;
  }
}